
body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 40px;
    text-align: center;
    color: #333;
    padding: 20px;
  }
  
  .formulario {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .formulario label {
    display: block;
    margin-bottom: 10px;
    color: #555;
    text-align: center;
  }
  
  .formulario input[type="text"],
  .formulario select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  .formulario input[type="file"] {
    margin-top: 10px;
  }
  
  .formulario input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .formulario input[type="submit"]:hover {
    background-color: #555;
  }

  footer {
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
  }

  .navBar{
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    }


